<nav class="banner-div">

  <%= image_tag "ryan-wu-476271-unsplash.jpg" %>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm checking">
      1
    </div>
    <div class="col-6 checking">
      2
    </div>
    <div class="col-sm checking">
      3
    </div>
  </div>
</div>

<p>Welcome! The date and time is <%= Time.now %></p>

<h1>Welcome to BestBuy</h1>
<h2>What better way to buy than local</h2>
