<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container">
  <div class="row">
    <!--The following line represets the @products array being iterrated through
    the _product partial(No need for .each method, Rails does everything for you)-->
    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Product', new_product_path %>
